<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form novalidate [formGroup]="orderForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right" *ngIf="orderForm.hasError('emailsNotMatch')">
              <i class="fa fa-remove"></i>
              E-mails não conferem
          </span>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e mínimo 5 caracteres" label="Nome">
            <input type="text" class="form-control" formControlName="name"
                   placeholder="Nome"
                   autocomplete="false">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido" label="E-mail">
            <input type="text" class="form-control" formControlName="email"
                   id="inputEmail" placeholder="E-mail"
                   autocomplete="off"
            >
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="E-mail inválido" label="Confirmação de E-mail">
            <input type="text" class="form-control" formControlName="emailConfirmation"
                   id="inputEmailConfirmation" placeholder="Confirmação de E-mail"
                   autocomplete="off"
            >
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e mínimo 5 caracteres" label="Endereço">
            <input type="text" class="form-control" formControlName="address"
                   placeholder="Endereço"
                   autocomplete="false">
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container errorMessage="Campo obrigatório e apenas numéricos" label="Número">
            <input type="text" class="form-control" formControlName="number"
                   id="inputNumber" placeholder="Número"
                   autocomplete="off"
            >
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Complemento">
            <input type="text" class="form-control" formControlName="optionalAddress"
                   id="inputOptional" placeholder="Complemento">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
          <mt-order-items [items]="cartItems()"
          (increaseQty)="increaseQty($event)"
          (decreaseQty)="decreaseQty($event)"
          (remove)="remove($event)"></mt-order-items>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOption" required></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [itemsValue]="itemsValue()" [delivery]="delivery"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" (click)="checkOrder(orderForm.value)" [disabled]="orderForm.invalid || cartItems().length === 0">
          <i class="fa fa-credit-card"></i>
          Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
