<section class="content-header">
  <h1>
    Todos os Restaurantes
    <a class="search-link pull-right" (click)="toggleSearch()">
      <span *ngIf="iptSearch.value"><small>"{{iptSearch.value}}"</small></span>
      <i class="fa fa-search"></i>
    </a>
  </h1>

  <div class="row">
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" class="form-control"
                 formControlName="searchControl"
                 #iptSearch
                 placeholder="O que você está procurando?"/>
        </div>
      </form>
    </div>
  </div>
</section>


<section class="content">

  <div class="row">
    <div class="col-sm-6 col-xs-12" *ngFor="let restaurant of restaurants">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
      <!-- /.info-box -->
    </div>
    <div *ngIf="restaurants?.length === 0" class="col-xs-12">
      <p class="lead text-center">
        Não foram encontrados itens para a sua busca.
      </p>
    </div>
  </div>

</section>
