<div *ngFor="let option of options">
  <label>
    <div class="iradio_flat-red checked" aria-checked="false" aria-disabled="false"
         style="position: relative;"
         [class.checked]="option.value === value"
         (click)="setValue( option.value )"
    >
      <input type="radio" name="r3" class="flat-red" [checked]="option.value === value" style="position: absolute; opacity: 0;"/>
      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
    </div>
    {{option.label}}
  </label>
</div>
